.main-container {
	width: 100%;
	height: 100%;
}
td {
	max-height: 200px;
	padding: 5px !important;
}
th {
	font-size: 15px;
	padding: 5px !important;
	background-color: #a9cbea;
}
.table-content {
	font-size: 12px;
}
.td-wrap-text{
	max-height: 100px;
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}