/*.text-container {
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 5px;
  padding: 7px 14px;
}*/

.text-area {
  	margin: 5px 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: grey;
}
.btn-label {
	margin: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-form {
	width: 150px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn-label :hover{
	color: grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.group {
	display: inline-block;
	width: 150px;
	vertical-align: top;
	min-height: 150px;
	background-color: #a9cbea;
	margin: 1px;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.original {
	width: 100%;
	min-height: 100px;
	border-radius: 5px;
	background-color: #79aede;
	margin: 1px;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-more-icon {
	position: absolute;
	color: green;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.draggable {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 140px;
	max-height: 50px;
	white-space: nowrap;
	margin: 1px;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spinner-holder{
	width: 40px;
	height: 40px;
}
h8, h10 {
	color: grey;
}