
.form-control {
  width: 98%;
  border: 1px solid #ccc;
  padding: 10px; 
  margin: 2px;
  color: black
}
.form-control::placeholder {
	color: grey;
	opacity: 0.7;
}

.control-error {
  border: 1px solid red;
}
.form-text {
	margin-top: -1.0rem;
}

.form-group-custom {
	background-color: #d9eeff;
	border-radius: 5px;
	margin: 10px 10px 0 10px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.row-custom {
	margin: 0px;
}
.row-custom .form-group-custom {
	height: 100%;
	margin: 0px;
}

.column1 {
	/*margin: 10px;*/
	margin: 0px;
	padding: 10px 10px 0px 10px;
}
.column2 {
	margin: 0px;
	padding: 10px 10px 0px 10px;
	/*margin: 10px;*/
}

.associate-input {
	margin: 0px 15px 0px 5px;
	border-radius: 5px;
	padding: 5px;
	height: 100%;
	background-color: #79aede;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.success-dialog{
	
	color: #2ea94b;
}

.error-dialog{
	color: #e2143a;
}

.alert-validate {
	display: inline;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.row-associate{
	position: relative;
	padding: 5px 0px;
	background-color: #a9cbea;
	margin: 5px;
}

.add-more-icon-form {
	position: static;
	color: green;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.eliminate-icon {
	position: absolute;
	color: #b93b3b;
	width: 20px;
	height: 20px;
	right:2px;
}
.submit-btn{
	margin-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-detail-display{
	margin: 10px;
}
.time-block-1 {
	display: inline-block;

}
.time-block-2 {
	display: inline-block;
	margin-left: 5px;
}
.col-associate{
		margin-top: 10px !important;
}
@media screen and (min-width: 600px) {
	
	.col-associate{
		margin-top: 0px !important;
	}
	.time-block-2 {
		margin-left: 0px;
	}
	
}

@media screen and (min-width: 1200px){
	.time-block-2 {
		margin-left: 20px;
	}
}

@media screen and (min-width: 1300px){
	.time-block-2 {
		margin-left: 50px;
	}
}
